@model IEnumerable<KURSLAB3.Models.Hospital>
@using KURSLAB3.Models;

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

    Pager pager = new Pager();
    int pageNo = 0;

    if (ViewBag.Pager != null)
    {
        pager = ViewBag.Pager;
        pageNo = pager.CurrentPage;
    }


}

<h2>Больницы</h2>

<p>
    @Html.ActionLink("Новая запись", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @*@Html.DisplayNameFor(model => model.hospitalAddress)*@
            Номера больниц
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.hospitalAddress)*@
            Адреса больниц
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.hospitalNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.hospitalAddress)
            </td>
            <td>
                @Html.ActionLink("Изменить", "Edit", new { id = item.hospitalNumber }) |
                @*@Html.ActionLink("Подробнее", "Details", new { id = item.hospitalNumber }) |*@
                @Html.ActionLink("Удалить", "Delete", new { id = item.hospitalNumber })
            </td>
        </tr>
    }

</table>

<div class="container">
    @if (pager.TotalPages > 0)
    {

        

    <ul class="pagination justify-content-end">

        @if (pager.CurrentPage > 1)
        {
            <li class="page-item">
                <a class="page-link" href="?pg=1">Первая</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="?pg=@(pager.CurrentPage - 1)">Предыдущая</a>
            </li>
        }

        @for (var pge = pager.StartPage; pge <= pager.EndPage; pge++)
        {
            <li class="page-item @(pge == pager.CurrentPage ? "active" : "")">
                <a class="page-link" href="?pg=@pge">@pge</a>
            </li>

        }

        @if (pager.CurrentPage < pager.TotalPages)
        {
            <li class="page-item">
                <a class="page-link" href="?pg=@(pager.CurrentPage + 1)">Следующая</a>
            </li>
            <li>
             <a class="page-link" href="?pg=@(pager.TotalPages)">Последняя</a>
            </li>
        } 
    </ul>
    }
</div>
