@model KURSLAB3.Models.Hospital_has_Medicament

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Удаление</h2>

<h3>Вы уверены что хотите удалить данную запись?</h3>
<div>
    <h4>Лекарства в больнице</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @*@Html.DisplayNameFor(model => model.countPackagesMedicament)*@
            Количество упаковок
        </dt>

        <dd>
            @Html.DisplayFor(model => model.countPackagesMedicament)
        </dd>

        <dt>
            Адрес больницы 
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Hospital.hospitalAddress)
        </dd>

        <dt>
            Название лекарства
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Medicament.nameMedicament)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Удалить" class="btn btn-default" /> |
            @Html.ActionLink("Вернуться", "Index")
        </div>
    }
</div>
